#chatbox {
  background: transparent;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 77.5%;
  transform: translateX(22.5vw); }

.chatbox-container {
  display: none; }
  .chatbox-container.active {
    display: block; }
