div.name {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  width: 100%;
  text-align: center;
  margin: 1 0 1 0;
  p.name {
    font-size: 0.8rem;
  }
  p.timestamp {
    font-size: 0.6rem;
    color: #ccc;
    text-align: inherit;
  }
}
div.name:hover {
  background: rgba(0,0,0,0.1);
}

.service {
  height: 5%;
  justify-content: flex-end;
  align-items: flex-end;
  .name {
    order: 1;
    border-bottom-right-radius: 0; // weird shadow fix
  }
  .top-c {
    order: 2;
  }
}
