.app-container {
	position: relative;
	top: 48px;
	width: 100%;
  margin: 0 auto;
  background: transparent !important;
  
}

.aura-container {
	position:relative;
	width: 100%;
	transition: transform 600ms;
	transition-timing-function: cubic-bezier(.56,.97,.94,.99);
  overflow:hidden;
  width: 100%;
  background: transparent !important;

	&.pushed {
		 transform: translateX(30vw);
	}
}
