.inputbox-form {
  position: relative;
  top: -3px; }
  .inputbox-form input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 12px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 3px solid #d8d6e2;
    -webkit-transition: 0.5s;
    font: 12px 'PT Mono', monospace;
    transition: 0.5s;
    outline: none; }
    .inputbox-form input[type=text]:hover {
      border: 3px solid #222; }
