<<<<<<< HEAD
.messages-container {
  position: relative;
  background: white;
  height: 75%;
  overflow: hidden;
  border: 3px solid #d8d6e2;
  margin: 0 auto;
  width: 90%; }

.fade-enter {
  opacity: 0.01; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1); }

.fade-leave {
  opacity: 1; }

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1); }
=======
.discussion {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 50px 0;
  font: 12px 'PT Mono', monospace;
  height: 60%;
  overflow-y: scroll; }
  .discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex; }
  .discussion .top-c {
    position: relative;
    width: 40px; }
    .discussion .top-c img {
      display: block;
      width: 100%;
      margin: 0 0 0 0; }
>>>>>>> My changes
