.discussion {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 100px 100px 100px 100px; // finality
  font: 12px 'PT Mono', monospace;
  height: 60%;
  overflow-y: scroll;
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .top-c {
    // could set height, but gonna bottom-align instead
    position: relative; // for triangle
    width: 40px;
    img {
      display: block; // triangle position
      width: 100%;
      margin: 0 0 0 0;
    }
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
