.message-container:before, .message-container:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px; }

.message-container:after {
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg); }

.message-container {
  font: 12px 'PT Mono', monospace;
  width: 40%;
  margin: 20px;
  background: white;
  position: relative;
  float: left;
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.1) inset; }
  .message-container.aura {
    background: #98c5ec; }
  .message-container .profile-img-c {
    margin: 12px;
    float: left;
    width: 40px;
    height: 40px;
    background: #ccc222; }
  .message-container .top-c {
    float: left;
    width: 100%;
    overflow: hidden; }
    .message-container .top-c p, .message-container .top-c h2 {
      float: left; }
  .message-container .timestamp {
    margin: 20px 14px;
    float: left;
    font-size: 10px; }
  .message-container .detail-c {
    float: left;
    display: inline-block; }


.aura-message-container {
  font: 12px 'PT Mono', monospace;
  width: 40%;
  margin: 20px;
  background: #98c5ec;
  position: relative;
  float: right;
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.1) inset; }
  .message-container.aura {
    background:  }
  .message-container .profile-img-c {
    margin: 12px;
    float: left;
    width: 40px;
    height: 40px;
    background: #ccc222; }
  .message-container .top-c {
    float: left;
    width: 100%;
    overflow: hidden; }
    .message-container .top-c p, .message-container .top-c h2 {
      float: left; }
  .message-container .timestamp {
    margin: 20px 14px;
    float: left;
    font-size: 10px; }
  .message-container .detail-c {
    float: left;
    display: inline-block; }
