.side-container {
  position: absolute;
  overflow: hidden;
  min-width: 440px;
  left: 25%;
  background: white;
  z-index: 90;
  width: 45vw;
  height: 45vh;
  -webkit-box-shadow: 5px -5px 39px -14px black;
  -moz-box-shadow: 5px -5px 39px -14px black;
  box-shadow: 5px -5px 39px -14px black;
  transition: width 600ms, height 400ms, top 400ms;
  top: 20%;
  transition-timing-function: cubic-bezier(0.56, 0.97, 0.94, 0.99); }
  .side-container.register {
    height: 65vh;
    top: 15%; }
  .side-container.active {
    width: 20vw;
    height: 100vh;
    top: -4%;
    left: 0%; }
  .side-container .footer-links {
    text-align: center;
    font: 12px 'PT Mono', monpspace;
    position: relative;
    top: 3.9%; }
    .side-container .footer-links.adjust {
      top: 45%; }
    .side-container .footer-links span {
      cursor: pointer; }

.header-fade-appear {
  opacity: 0.01; }

.header-fade-appear.header-fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }
