#signup {
  position: relative;
  top: 33.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto; }
  #signup input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 50px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 3px solid #d8d6e2;
    -webkit-transition: 0.5s;
    font: 12px 'PT Mono', monospace;
    transition: 0.5s;
    outline: none; }
  #signup input[type=submit] {
    background: rgba(220, 220, 220, 0.27);
    border: none;
    cursor: pointer; }
  #signup input[type=submit]:hover {
    background: #222;
    color: white; }
  #signup input[type=email]:focus, #signup input[type=password]:focus, #signup input[type=text]:focus {
    border: 3px solid #555; }
  #signup .signup-form {
    height: 90%;
    margin-top: 4vh;
    margin-left: 2vw;
    transform: scale(1, 0.85); }
  #signup input.sec-answer {
    width: 37.5%;
    margin-bottom: 0; }
  #signup input.sec-dropdown {
    margin-bottom: 0; }
  #signup .line-container {
    width: 100%;
    overflow: hidden;
    padding: 0px 40px;
    margin: 20px 0px; }
    #signup .line-container.split select {
      width: 37.5%; }
  #signup .split-container {
    overflow: hidden;
    width: 100%;
    padding: 0 50px; }
    #signup .split-container .form-label {
      width: calc(40% - 10px);
      float: left;
      display: inline-block;
      margin: 0; }
      #signup .split-container .form-label:nth-child(2) {
        margin-left: 20px; }
  #signup .form-label {
    font: 14px 'PT Mono', monospace;
    font-weight: bold;
    margin: 0px 50px;
    color: #222;
    padding-bottom: 6px;
    width: 80%;
    border-bottom: 1px solid #d8d6e2; }

.signup-container {
  overflow: hidden;
  display: none; }
  .signup-container.active {
    display: block; }
